@mixin lineUnitAfter {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "; }

@mixin line($name: line) {
  .#{$name} {
    *zoom: 1;
    &:after {
      @include lineUnitAfter; } } }

@mixin sizeOf($j: 3, $name: item) {
  @for $i from 1 through $j {
    @if $i < $j {
      .#{$name}#{$i}of#{$j} {
        width: unquote("#{$i / $j * 100}%"); } }
    @else {
      .#{$name}1of1 {
        float: none; } } } }

@mixin lastUnit($name: lastUnit) {
  .#{$name} {
    display: table-cell;
    float: none;
    width: auto;
    *display: block;
    *zoom: 1;
    _position: relative;
    _left: -3px;
    _margin-right: -3px;
    &:after {
      @include lineUnitAfter; } } }

@mixin unit($name: unit) {
  .#{$name} {
    float: left; }
  @include lastUnit($name + Last); }

@mixin ssunit($name: unit) {
  @media screen and (max-width: 319px) {
  .#{$name} {
    float: none !important;
    width: auto !important; } } }

@mixin oocss-grids {
  /*	oocss default grids - mixins of these classes exist too	 */
  @include line(line);
  @include unit(unit);
  @include sizeOf(3, size);
  @include sizeOf(4, size);
  @include sizeOf(5, size);
  @include sizeOf(6, size); }
