// oocss content.
// by majic3

@mixin oocss-content($bkgdImage: none) {
	body, html {
		margin: 0;
		padding: 0;
		background-color: $site_bg_color;
		@if $bkgdImage == none {
			background-image: url($bkgdImage);
		@else {
			background-image: $bkgdImage;
		}
		color: $body_color; } }
	body {
		font: unquote("#{$body_font_size}/#{$body_line_height} #{$body_font_family}"); }
	h1, h2, h3, h4, h5, h6, ul, ol, dl, p, blockquote {
		padding: 0px; }
	h1, h2, h3, h4, h5, h6, img {
		padding-bottom: 0px; }
	pre {
		margin: 10px; }
	table {
		h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
			padding: 0; } }
	img {
		display: block; }
	em {
		font-style: italic; }
	strong {
		font-weight: bold; }
	hr {
		border: 5px solid #e2e2e2;
		border-width: 0 0 5px 0;
		margin: 20px 10px 10px 10px; }
	code {
		color: #0b8c8f; }
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		margin: 0;
		font-weight: normal; }
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h6, .h6 {
		font-weight: normal; }
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
		font-style: normal; }
	h1, .h1 {
		font-size: 1.668em;
		line-height: 0.9em;
		margin-bottom: 0.9em; }
	h2, .h2 {
		font-size: 1.5em;
		line-height: 1em;
		margin-bottom: 1em; }
	h3, .h3 {
		font-size: 1.333em;
		line-height: 1.125em;
		margin-bottom: 1.125em; }
	h4, .h4 {
		font-size: 1.167em;
		line-height: 1.286em;
		margin-bottom: 1.286em; }
	h5, .h5, h6, .h6 {
		font-size: 1.167em;
		line-height: 1.286em;
		margin-bottom: 1.286em; }
	h1, .h1, h2, .h2 {
		color: #234236; }
	h3, .h3 {
		color: #484488; }
	h4, .h4 {
		color: #555555; }
	h5, .h5 {
		font-weight: bold;
		color: #234236; }
	h6, .h6 {
		font-style: italic;
		color: #555555; }
	p, ul, blockquote, pre, td, th, label {
		margin: 0;
		font-size: 1em;
		line-height: 1.5em;
		margin-bottom: 1.5em; }
	p.small {
		font-size: 0.833em;
		line-height: 1.8em;
		margin-bottom: 1.8em; }
	table {
		border-collapse: collapse;
		margin-bottom: 1.5em;
		a {
			color: #333333; } }
	.important a {
		font-weight: bold; }
	a {
		color: #003366;
		font-weight: bold;
		text-decoration: none;
		&:focus, &:hover {
			text-decoration: underline; }
		&:visited {
			color: #005a9c; } }
	ol.simpleList li {
		list-style-type: decimal;
		margin-left: 40px; }
	ul.simpleList li {
		list-style-type: disc;
		margin-left: 40px; }
	cite {
		display: block;
		text-align: right;
		padding-top: 10px; }
	.callout {
		font-size: 189%;
		color: #999999;
		font-style: italic;
		cite {
			display: block;
			text-align: right;
			padding-top: 30px;
			font-size: 69.25%; }
		span {
			&.quot {
				font-size: 500%;
				vertical-align: sub;
				color: #e2e2e2;
				line-height: 25px;
				font-weight: bold; }
			&.quotLast {
				vertical-align: middle; } } }
	.caption {
		font-size: 13px;
		color: #666666;
		font-style: italic;
		padding-top: 0; }
	.media {
		overflow: hidden;
		overflow: visible;
		zoom: 1;
		margin: 10px;
		.img {
			float: left;
			margin-right: 10px;
			img {
				display: block; } }
		.imgExt {
			float: right;
			margin-left: 10px; } }
	.detail {
		color: #777777;
		font-size: 11px;
		display: block; } }

@mixin small {
	margin: 0;
	font-size: 0.833em;
	line-height: $body_line_height;
	margin-bottom: $body_line_height; }

@mixin category($tColor: #333333) {
	font-size: 108%;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	color: $tColor; }
